/*The squares with squares in them*/

.red-box{
    z-index: 10px;
    margin-left: 50px;
    background-color: #370617;
    height: 55vh; 
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    position: relative;
    flex-wrap: wrap;
    min-height: 60%;
    max-width: 100%;
    padding: 25px 0;
}

/*Boxes in squares*/

/*First box in square*/
.first-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:baseline;
    align-items:flex-end;
    flex-direction: row;
    flex-basis: 10px;
}
.fb{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

/*Second box in square*/
.second-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items:stretch;
    flex-direction: row;
    flex-basis: 10px;
}

.sb{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

/*Third box in square*/
.third-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    flex-wrap: reverse;
    flex-direction: row;
    flex-basis: 10px;
}

.tb{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

/*Fourth box in square*/
.fourth-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
    flex-direction: row;
    flex-basis: 10px;
}

.fthb{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.fthb-third{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
    align-self:flex-end;
}

/*Fifth box in square*/
.fifth-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:space-evenly;
    align-items:stretch;
    flex-direction: row;
    flex-basis: 10px;
}

.fifthb{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.fifthb-sec{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
    align-self: center;
}


.paragraph{
    color: white;
    text-align: center;
    font-size: 12px;
}

/*Sixth box in square*/
.sixth-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    flex-basis: 10px;
}

.sixb{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.sixb-sec{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
    flex-grow: 0.7;
}

.sixb{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}


/*The squares with dots in them*/

.yellow-box{
    margin-top: 10px;
    margin-left: 50px;
    z-index: 10px;
    background-color: #FAA307;
    height: 55vh; 
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    align-items:center;
    position: relative;
    flex-wrap: wrap;
    min-height: 60%;
    max-width: 100%;
    padding: 25px 0;
}

.dot {
   
    background-color: #748CAB;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    margin: 10px;
}

.first-box-dots{
    background-color: #03071E;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content:baseline;
    align-content:flex-start;
    flex-direction: row;
    flex-basis: 10px;
    flex-wrap:wrap;
}

.second-box-dots{
    background-color: #6A040F;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content:flex-end;
    align-content:flex-start;
    flex-direction: row;
    flex-basis: 10px;
    flex-wrap:wrap-reverse;
}

.third-box-dots{                    /*couldn't figure this one out unfortunately*/
    background-color: #03071E;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content:space-between;
    align-content:space-between;
    flex-direction: row;
    flex-basis: 10px;
    flex-wrap:wrap;
}

.fourth-box-dots{                           
    background-color: #6A040F;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
    flex-basis: 180px;
    flex-wrap:wrap;
}

.fifth-box-dots{
    background-color: #03071E;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content:center;
    flex-direction: row;
    flex-basis: 180px;
    flex-wrap:wrap;
}


