body{
}

/*element.style{
    flex-direction:column;
    justify-content: flex-end;
}*/

/*The squares with squares in them*/

.red-box{
    z-index: 10px;
    margin-left: 50px;
    background-color: #370617;
    height: 55vh; 
    width: 100vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    position: relative;
    flex-wrap: wrap;
    min-height: 60%;
    padding: 25px 0;
}

/*boxes*/

.first-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:baseline;
    align-items:flex-end;
    flex-direction: row;
    flex-basis: 10px;
}
.fb-one{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.fb-two{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.fb-three{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.second-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items:stretch;
    flex-direction: row;
    flex-basis: 10px;
}

.sb-one{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.sb-two{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.sb-three{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.third-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    wrap: reverse;
    flex-direction: row;
    flex-basis: 10px;
}

.tb-one{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.tb-two{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.tb-three{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.fourth-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
    flex-direction: row;
    flex-basis: 10px;
}

.fthb-one{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.fthb-two{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
}

.fthb-three{
    background-color: #9D0208;
    border-radius: 15px;
    min-width: 78px;
    min-height: 78px;
    margin: 10px;
    align-self:flex-end;
}

.fifth-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:baseline;
    align-items:flex-end;
    flex-direction: row;
    flex-basis: 10px;
}

.sixth-box{
    background-color: #F48C06;
    border-radius: 15px;
    min-width: 468px;
    min-height: 160px;
    margin: 10px;
    display: flex;
    justify-content:baseline;
    align-items:flex-end;
    flex-direction: row;
    flex-basis: 10px;
}


/*The squares with dots in them*/

.yellow-box{
    margin-top: 10px;
    margin-left: 50px;
    z-index: 10;
    background-color: #FAA307;
    height: 55vh; 
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    position:absolute;
    flex-wrap: wrap;
    min-height: 60%;
    padding: 25px 0;
}

.first-box-dots{
    background-color: #03071E;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    flex-basis: 180px;
}

.second-box-dots{
    background-color: #6A040F;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    flex-basis: 180px;
}

.third-box-dots{
    background-color: #6A040F;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    flex-basis: 180px;
}

.fourth-box-dots{
    background-color: #03071E;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    flex-basis: 180px;
}

.fifth-box-dots{
    background-color: #03071E;
    border-radius: none;
    min-width: 273px;
    min-height: 220px;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    flex-basis: 180px;
}

/*
.container {
    border: 5px dotted coral;
    position: relative;
    width: 70%;
    min-height: 50%;
    padding: 25px 0;
    display: flex;
    justify-content: flex-start;

    align-items: flex-start;

    flex-direction: column; 
 
}

.card {
    background-color: darkcyan;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
}
*/
.first {
    /*
    flex-grow: 2;
    order: 1; */
}

.last {
    /*order:-1*/
}

.second {
    background-color: darkgrey;
}

.large {
    flex-wrap: wrap;
    /*
    flex-wrap: nowrap;
    flex-wrap: wrap-reverse;
    */
    min-height: 60%;
}